body
{
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
    background: #f9f4ec;
    color: #601A4A;
    padding: 0;
    text-align: center;
    width: 100%;
    font-family: Montserrat, sans-serif;
}

.content
{
    /* Absorb leading child's top margin, otherwise the top of the
       page does not match the top of <body>.  Since the burger
       button is placed relatively to <body>, and different children
       have different top margins, allowing the children to overflow
       <body> makes the button move around vertically. */

    /* NB: we can't add this to the body element, since it breaks
       the menu's position: fixed. */
    overflow: auto;
}

h1.pretty
{
    font-family: Gorditas, sans-serif;
    font-size: 3em;
}

h2
{
    font-size: 1.125em;
}

.purple
{
    background: #601A4A;
    color: #F9F4EC;
}

.orange
{
    background: #EE442F;
    color: #F9F4EC;
}

.purple-on-orange
{
    background: #EE442F;
    color: #601A4A;
}

.blue
{
    background: #85C0F9;
    color: #601A4A;
}

.grid2, .grid3
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.grid2 .text
{
    text-align: left;
}

ul
{
    text-align: left
}

.splash, .illustration-side
{
    display: inline-block;
}

.illustration-side p
{
    padding: 1em 4em;
}

.splash p, .illustration-side p
{
    margin: 0;
    line-height: 0;
}

.splash img, .illustration-side img
{
    width: 100%;
    object-fit: contain;
}

.grid2
{
    width: 100%;
    margin: auto;
    padding: 1em 0;
    background-position: 100%;
}

.grid2 .text, .grid2 .splash
{
    width: 80%;
    margin: auto;
}

.grid2 .text h1, .grid2 .text h2, .grid2 .text p
{
    margin: 0.1em 0;
}

.grid3 .text img
{
    width: 33%;
}

@media screen and (min-width: 41em)
{
    .grid3
    {
        flex-flow: row;
        align-self: stretch;
    }

    .grid2
    {
        flex-flow: row;
        justify-content: space-around;
    }

    .grid2 .text, .grid2 .splash
    {
        width: 40%;
    }

    .grid2 .text:first-child
    {
        text-align: right;
    }

    .grid2 .text:last-child
    {
        text-align: left;
    }

    .grid3 .text
    {
        width: 40%;
        padding: 1em;
    }

    .grid3 .illustration-side
    {
        width: 30%;
        display: flex;
        flex-grow: 1;
    }

    .grid3 .text img
    {
        width: 25%;
    }

    .grid3 .illustration-side p
    {
        margin: auto;
    }

    .grid3 .illustration-side img
    {
        height: 100%;
    }

    .grid3 .splash
    {
        width: 40%;
    }

    .grid3 .text-side
    {
        width: 30%;
    }

    .grid3 .text-side, .grid3 .text
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid2 .text
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

a
{
    text-decoration: none;
    color: #EE442F;
}

.orange a
{
    color: #601A4A;
}

.purple-on-orange a
{
    color: #85C0F9;
}

a.button
{
    display: block;
    margin: 0 2em;
    padding: 1em;
    border-radius: 2em;
    font-weight: bold;
    background: #601A4A;
    color: #F9F4EC;
    transition-duration: 0.5s;
}

/* No generic way to swap colors on hover AFAIK. */
a.button:hover
{
    background: #F9F4EC;
    color: #601A4A;
    transition-duration: 0.5s;
}
