nav
{
    font-family: Anton, Impact, sans-serif;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.menu-links
{
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
}

.menu-links p a
{
    color: #601A4A;
    transition-duration: 0.5s;
}

.menu-links p a:hover
{
    color: #EE442F;
    transition-duration: 0.5s;
}

.menu-links p.current a
{
    color: #EE442F;
}

/*
 * Hamburger menu inspired by Erik Terwan - 2015 - MIT License.
 * https://codepen.io/erikterwan/pen/EVzeRP
 */

.menu-toggle input, .menu-toggle span
{
    display: none;
}

@media screen and (max-width: 41em)
{
    .menu-toggle
    {
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    .menu-toggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        /* Hide checkbox and place it over hamburger. */
        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;
    }

    .menu-toggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    .menu-toggle .burger-bot
    {
        transform-origin: 0% 100%;
    }

    .menu-toggle input:checked ~ .burger-top
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    .menu-toggle input:checked ~ .burger-mid
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menu-toggle input:checked ~ .burger-bot
    {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
        background: #232323;
    }

    /* Cover the whole page. */
    .menu-links
    {
        display: block;
        position: fixed;
        overflow: auto;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;

        background: #ededed;
        /* Prevent text flickering on Safari (TODO: check if necessary) */
        -webkit-font-smoothing: antialiased;

        transform-origin: right top;
        transform: translate(100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .menu-links p
    {
        padding: 10px 0;
        font-size: 22px;
    }

    .menu-toggle input:checked ~ .menu-links
    {
        transform: none;
    }
}
