.mosaic
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.mosaic .tile
{
    display: inline-block;
    max-width: 100%;
}

.mosaic .tile p
{
    margin: 0;
    line-height: 0;
}

.mosaic .tile img
{
    width: 100%;
    object-fit: contain;
}

.caption
{
    font-family: Anton, Impact, sans-serif;
}

@media screen and (min-width: 41em)
{
    .caption
    {
        /* Mosaic width is 80%, so one tile is 20%.  Assuming a tile
           has 10 chars per line, 1 char should be 2%.
           Empirically this is slightly too much, therefore
           1.5vw. */
        font-size: 1.5vw;
    }

    .mosaic
    {
        width: 80%;
        margin: auto;
        flex-flow: row wrap;
        align-self: stretch;
    }

    .mosaic .caption, .mosaic .tile
    {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;
        justify-content: center;
    }
}
